@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
    background-color: #FF86C8;
    font-family: "Gloria Hallelujah" , sans-serif;
    color: #404E5C;
}

#title {
    text-align: center;
    font-size: 80px;
    margin: 25px;
}

 .game-details {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    padding: 10px;

}
    

.table {
    display: flex;
    flex-wrap: wrap;
    height: 606px;
    width: 606px;
    margin: auto;
}

.circle {
    height: 200px;
    width: 200px;
    border: solid black 1px;
    border-radius: 50%;
}

.piggy {
    background-image: url(/assets/images/PiggyPic.png);
}